<template name="focus">
    {{#if postsCategory}}
    <h1 class="postHeading"><i class="fa fa-eye"></i>&nbsp; {{focusCategory}}</h1>
    {{else}}
    <h1 class="postHeading"><i class="fa fa-eye"></i>&nbsp; 양돈 포커스</h1>
    {{/if}}
    <div>
        <ul class="posts_ul">
        {{#each postsList}}
            <li class="posts_li">
                <a href="/focus/post/{{_id}}" class="posts_link">{{title}}</a>&nbsp;&nbsp;
                <span style="font-size: 80%">{{prettyDate date}}</span>
            </li>
        {{/each}}
        </ul>
        {{> paginationBar itemsPerPage=3 window=5 count='total_posts'}}
    </div>
</template>
