<template name="focus_admin">
    <div class="col-sm-6">
        {{#autoForm id="FocusForm" type="insert" collection="Focus"}}
            <input type="hidden" id="postId">
            {{> afQuickField name="date" id="date"}}
            {{> afQuickField name="title" id="title"}}
            {{> afQuickField name="summary" id="summary"}}
            {{> afQuickField name="content" id="content"}}
            {{> afQuickField name="image" id="image" type="cfs-file" collection="images"}}
            {{> afQuickField name="category" id="category"}}
            <!-- <input type="file" name="image" class="imageFileInput" id="image"> -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary addPost">Add Post</button>
            <button type="button" class="btn btn-danger removePost">Remove</button>
            <button type="reset" class="btn btn-warning">Reset</button>
            <button type="button" class="btn btn-default return">Return</button>
        </div>
        {{/autoForm}}
        <div>
        </div>
    </div>
    <div class="col-sm-6">
        {{>reactiveTable settings=tableSetting}}
    </div>
</template>
