<template name="focus">
    <h2 class="postHeading">
        <i class="fa fa-eye"></i>&nbsp;
            양돈 포커스&nbsp;
            <span class="text-muted postsCategory">{{postsCategory}}</span>
    </h2>
    {{#each postsList}}
    <a href="/focus_post/{{_id}}" class="post-list-link">
        <div class="list-container col-md-12">
            <div class="list-image">
                {{#with FS.GetFile "Images" image}}
                    <img src="{{this.url store='images'}}" alt="" class="list-thumbnail">
                {{/with}}
            </div>
            <div class="list-info">
                <div class="list-title">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    {{title}}
                    <span class="text-muted small">{{prettyDate date}}</span>
                </div>
                <div class="list-summary">
                    {{truncate summary 100}}
                </div>
            </div>
        </div>
    </a>
    {{/each}}

    <nav class="pager-nav">
        <ul class="pager">
            <li class="{{prevPageClass}}">
                <a id="prevPage" href="{{prevPage}}">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                    &nbsp;이전
                </a>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li class="{{nextPageClass}}">
                <a id="nextPage" href="{{nextPage}}">
                    다음&nbsp;
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </nav>
</template>
