<template name="focus_admin">
    <h3 class="postHeading" style="text-align: center;">
        <i class="fa fa-eye"></i>&nbsp;양돈 포커스
    </h3>
    <div class="col-sm-6">
        {{#autoForm id="Form" type=formType collection="Focus" doc=selectedDoc}}
            {{> afQuickField name="date" id="date"}}
            {{> afQuickField name="title" id="title"}}
            {{> afQuickField name="summary" id="summary"}}
            {{> afQuickField name="content" id="content"}}
            {{> afQuickField name="image" type="cfs-file" collection="Images" id="image"}}
            {{#with FS.GetFile "Images" selectedImage }}
                <img src="{{this.url store='images'}}" alt="" width="300px">
            {{/with}}
            {{> afQuickField name="category" id="category"}}
            <br><br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                <button type="button" class="btn btn-danger remove-btn">Remove</button>
                <button type="reset" class="btn btn-warning reset-btn">Reset</button>
            </div>
        {{/autoForm}}
    </div>
    <div class="col-sm-6">
        {{>reactiveTable settings=tableSetting}}
    </div>
</template>
