<template name="focus_category">
    <div class="panel panel-default categoryPanel">
        <div class="panel-heading categoryPanelHeading">&nbsp;&nbsp;&nbsp;카테고리</div>
        <div class="panel-body categoryPanelBody">
            <ul class="nav nav-pills nav-stacked category_ul">
                <li class="category_li"><a href="/focus/total/1">양돈 포커스 전체</a></li>
                <li class="category_li"><a href="/focus/가/1">&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true">&nbsp;&nbsp;가</i></a></li>
                <li class="category_li"><a href="/focus/나/1">&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true">&nbsp;&nbsp;나</i></a></li>
                <li class="category_li"><a href="/focus/다/1">&nbsp;&nbsp;<i class="fa fa-angle-double-right" aria-hidden="true">&nbsp;&nbsp;다</i></a></li>
            </ul>
        </div>
    </div>
</template>
