<template name="sharebox">
  <div class="share-box">
    <a href="#" target="_blank" class="nv-share">
      <img src="/share_buttons/naver/BAND_23.png" alt="">
    </a>

    <a href="#" target="_blank" class="kk-share">
      <img src="/share_buttons/kakao/pc/story_pc_24x24.png" alt="">
    </a>

    <span id="kakaostory-share-button" style="margin-left:2px; margin-right:2px;"></span>

    <a id="kakao-link-btn" href="javascript:;" style="margin-left:2px; margin-right:2px;">
      <img src="/share_buttons/kakao/link/kakaolink_24.png" />
    </a>

    <a href="#" target="_blank" class="fb-share">
      <img src="/share_buttons/facebook/fb_24.png" alt="">
    </a>

  </div>
</template>
