<template name="data_category">
  <div class="panel panel-default" id="categoryPanel">
    <div class="panel-heading" id="categoryPanelHeading">카테고리</div>
    <div class="panel-body" id="categoryPanelBody">
      <ul class="nav nav-pills nav-stacked" id="category_ul">
        <li class="category_li"><a href="/data/product" target="_top">-&nbsp;&nbsp;주간생산지표</a></li>
        <li class="category_li"><a href="/data/market" target="_top">-&nbsp;&nbsp;실시간 시황</a></li>
        <li class="category_li"><a href="/data/stats/pig/pops" target="_top">-&nbsp;&nbsp;축산 통계</a></li>
        <li class="category_li"><a href="/data/disease" target="_top">-&nbsp;&nbsp;질병 통계</a></li>
        <li class="category_li"><a href="/data/bigdata" target="_top" class="end">-&nbsp;&nbsp;빅데이터</a></li>
      </ul>
    </div>
  </div>
  
  {{>banner}}
</template>
