<template name="market">

  <h4 class="postHeading">
    실시간 시황
  </h4>

  <div class="options_div" style="padding-left:7%; padding-right:7%;">

    <div class="row" style="display:block; text-align:left;">
      <div class="col-md-1"></div>
      <div class="col-md-3" style="white-space: nowrap; margin-bottom:10px;">
        <span style="display:block; text-align:left; font-weight:bold;">기&emsp;&emsp;&emsp;&nbsp;간</span>
      </div>
      <div class="col-md-4" style="white-space: nowrap; margin-bottom:10px;">
        <input type="date" id="datepicker1" style="text-align:center">
        <span>&nbsp;&nbsp;부터</span>
      </div>
      <div class="col-md-4" style="white-space: nowrap; margin-bottom:10px;">
        <input type="date" id="datepicker2" style="text-align:center">
        <span>&nbsp;&nbsp;까지</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3" style="margin-bottom: 10px;">
        <span style="display:block; text-align:left; font-weight:bold;">성&emsp;&emsp;&emsp;&nbsp;별</span>
      </div>
      <div class="col-md-8 container" style="margin-bottom: 10px;">
        <form role="form" style="display:block; text-align:left;">
          <label class="radio-inline">
            <input type="radio" class="radio-btn" name="optradio" value="25001" checked>암
          </label>&emsp;&emsp;
          <label class="radio-inline">
            <input type="radio" class="radio-btn" name="optradio" value="25003">거세
          </label>&emsp;&emsp;
          <label class="radio-inline">
            <input type="radio" class="radio-btn" name="optradio" value="25002">수
          </label>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3" style="margin-bottom: 10px;">
        <span style="display:block; text-align:left; font-weight:bold;">돈 피&emsp;구 분</span>
      </div>
      <div class="col-md-8 container" style="margin-bottom: 10px;">
        <form role="form" style="display:block; text-align:justify;">
          <label class="radio-inline">
            <input type="radio" class="radio-btn" name="optradio2" value="Y" checked>탕박
          </label>&emsp;&emsp;
          <label class="radio-inline">
            <input type="radio" class="radio-btn" name="optradio2" value="N">박피
          </label>
        </form>
      </div>
    </div>

  </div>

  <hr style="border-width:2px; border-color:#757575; margin-top:10px; margin-bottom:10px;">

  <div style="margin-left:5%; margin-right:5%;">
    <ul style="color:#757575;">
      <li>
        <p style="margin-bottom:2px;">당일가격정보는 익일 10시까지 변동 될 수 있음을 알려드리니 이용에 착오 없으시기 바랍니다.</p>
      </li>
      <li>
        <p>가격은 해당 기간 평균가격 , 두수는 해당 기간 누적 두수</p>
      </li>
    </ul>
  </div>

  <p style="margin-right:5%; text-align:right;">
    <span style="color:#1f77b4;">■ 가격(10원/kg)</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="color:#ff7f0e;">■ 거래량(두)</span>
  </p>

  <!-- <hr style="margin-left:2%; margin-right:2%;"> -->

  <div id="market_plot7" style="width:100%;height:auto;"></div>
  <div id="market_plot1" style="width:100%;height:auto;"></div>
  <div id="market_plot2" style="width:100%;height:auto;"></div>
  <div id="market_plot3" style="width:100%;height:auto;"></div>
  <div id="market_plot4" style="width:100%;height:auto;"></div>
  <div id="market_plot5" style="width:100%;height:auto;"></div>
  <div id="market_plot6" style="width:100%;height:auto;"></div>

</template>
