<template name="product">

  <h4 class="postHeading">
    주간생산지표
  </h4>

  <hr style="margin-left:2%; margin-right:2%;">

  <div>
    <form role="form" style="text-align:center;">
      <label class="radio-inline">
        <input type="radio" name="optradio" value="GCNT" checked>교배복수&emsp;
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio" value="BCNT">분만복수&emsp;
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio" value="EU_DUSU">이유두수
      </label>
    </form>
  </div>

  <hr style="margin-left:2%; margin-right:2%;">

  <div id="plot_1" style="width:100%;height:auto;"></div>
  <p style="text-align:right; padding-right:14%;">
    <span style="color:#1f77b4;">■ 지난해</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span style="color:#ff7f0e;">■ 올해</span>
  </p>
  <p style="text-align:right; padding-right:14%;">※ 출처 : 피그플랜 이용 농장
    <span style="white-space:nowrap;">100 곳의 자료</span>
  </p>

</template>
