<template name="product">

  <h4 class="postHeading">
    주간생산지표
  </h4>

  <div>
    <form role="form" style="text-align:center;">
      <span style="white-space:nowrap;">
        <label class="radio-inline">
          <input type="radio" name="optradio" value="gCNT" checked>교배복수&emsp;
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio" value="bCNT">분만복수&emsp;
        </label>
      </span>
      <span style="white-space:nowrap;">
        <label class="radio-inline">
          <input type="radio" name="optradio" value="weaned">이유두수&emsp;
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio" value="bRatio">분만율&emsp;
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio" value="dRatio">이유전 폐사율
        </label>
      </span>
    </form>
  </div>

  <hr>

  <div id="plot_1" style="width:100%;height:auto;"></div>
  <p style="text-align:center; font-size:110%; font-weight:bold; margin-bottom:3px;">
    <span style="color:#1f77b4; white-space:nowrap;">■ 지난해 (기초상시모돈
      <span id=past_initial></span>)</span>&emsp;
    <span style="color:#ff7f0e; white-space:nowrap;">■ 올해 (기초상시모돈
      <span id=current_initial></span>)</span>
  </p>
  <p style="text-align:center; font-size:105%; margin-left:10%; margin-right:10%;">
    <span id=annotation style="white-space:nowrap; font-size:110%; font-weight:bold;"></span>&emsp;
    <span style="white-space:nowrap; font-size:110%;">※ 출처 : 피그플랜 이용 농장 125 곳의 자료</span>
  </p>

</template>
