<template name="product_main">

  <div>
    <form role="form" style="text-align:center;">
      <span style="white-space:nowrap;">
        <label class="radio-inline">
          <input type="radio" name="optradio" value="gCNT" checked>교배복수&emsp;
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio" value="bCNT">분만복수&emsp;
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio" value="weaned">이유두수
        </label>
      </span>&emsp;
      <span style="white-space:nowrap;">
        <label class="radio-inline">
          <input type="radio" name="optradio" value="bRatio">분만율&emsp;
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio" value="dRatio">이유전 폐사율
        </label>
      </span>
    </form>
  </div>

  <hr>

  <div id="plot_1" style="width:100%;height:auto;"></div>
  <p style="text-align:right; padding-right:14%; font-size:110%; margin-bottom:3px;">
    <span style="color:#1f77b4;">■ 지난해</span>&emsp;&emsp;
    <span style="color:#ff7f0e;">■ 올해</span>&emsp;&emsp;
    <span id=annotation style=""></span>
  </p>
  <p style="text-align:right; padding-right:14%; font-size:105%;">
    ※ 출처 : 피그플랜 이용 농장
    <span style="white-space:nowrap;">125 곳의 자료</span>
  </p>

</template>
