<template name="stats_livestock_pig_pops_by_scale">
    <h2 class="postHeading">
        <i class="fa fa-pie-chart"></i>&nbsp;축산 통계 &lt; 돼지 &gt;&nbsp;
        <span class="text-muted postsCategory">사육규모별 사육동향</span>
    </h2>
    <div style="padding-left: 5px;">
        <form>
            <select class="" name="region">
                <option value="전국">전국</option>
                <option value="경기">경기</option>
                <option value="강원">강원</option>
                <option value="충북">충북</option>
                <option value="충남">충남</option>
                <option value="전북">전북</option>
                <option value="전남">전남</option>
                <option value="경북">경북</option>
                <option value="경남">경남</option>
                <option value="제주">제주</option>
                <option value="서울">서울</option>
                <option value="부산">부산</option>
                <option value="대구">대구</option>
                <option value="인천">인천</option>
                <option value="광주">광주</option>
                <option value="대전">대전</option>
                <option value="울산">울산</option>
            </select>
        </form>
    </div>
    <div id="plot_1" style="width:100%;height:1000px;"></div>
</template>
