<template name="stats_category">
    <div class="panel panel-default" id="categoryPanel">
        <div class="panel-heading" id="categoryPanelHeading">&nbsp;&nbsp;&nbsp;카테고리</div>
        <div class="panel-body" id="categoryPanelBody">
            <ul class="nav nav-pills nav-stacked" id="category_ul">
                <li class="category_li"><a href="/data/stats/pig/pops" target="_top">사육 동향</a></li>
                <li class="category_li"><a href="/data/stats/pig/grade" target="_top">등급판정 통계</a></li>
            </ul>
        </div>
    </div>
</template>
