<template name="stats_pig_age">

  <h4 class="postHeading">
    양돈 통계&nbsp;
    <span class="text-muted postsCategory" style="white-space:nowrap;">월령별 사육 동향</span>
  </h4>

  <select class="citySelect" name="country">
    <option value="00" selected="selected">전국</option>
    <option value="31">경기도</option>
    <option value="32">강원도</option>
    <option value="33">충청북도</option>
    <option value="34">충청남도</option>
    <option value="35">전라북도</option>
    <option value="36">전라남도</option>
    <option value="37">경상북도</option>
    <option value="38">경상남도</option>
    <option value="39">제주도</option>
    <option value="21">부산광역시</option>
    <option value="22">대구광역시</option>
    <option value="23">인천광역시</option>
    <option value="24">광주광역시</option>
    <option value="25">대전광역시</option>
    <option value="26">울산광역시</option>
  </select>

  <br>

  <div id="loader"></div>
  <div style="display:none;" id="chart-box" class="animate-bottom">

    <hr>

    <p style="margin-left: 5px; text-align:left;">
      <span style="color:steelblue; white-space:nowrap; margin-right:25px;">■ 2개월 미만</span>
      <span style="color:darkorange; white-space:nowrap; margin-right:25px;">■ 2~4개월</span>
      <span style="color:forestgreen; white-space:nowrap; margin-right:25px;">■ 4~6개월</span>
      <span style="color:crimson; white-space:nowrap; margin-right:25px;">■ 6~8개월 암컷</span>
      <span style="color:mediumpurple; white-space:nowrap; margin-right:25px;">■ 6~8개월 수컷</span>
      <span style="color:sienna; white-space:nowrap; margin-right:25px;">■ 8개월 이상 암컷</span>
      <span style="color:orchid; white-space:nowrap; margin-right:25px;">■ 8개월 이상 수컷</span>
    </p>
    <hr>

    <div id="plot_1" style="width:100%;height:auto;"></div>
    <div id="plot_2" style="width:100%;height:auto;"></div>

  </div>

</template>
