<template name="stats_category">
  <div class="panel panel-group" id="categoryPanel">
    <div class="panel-heading" id="categoryPanelHeading" style="margin-bottom:5px;">카테고리</div>

    <div class="panel panel-default panel-body_other">
      <div class="panel-heading">
        <h4 class="panel-title all">돼지</h4>
      </div>
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked" id="category_ul">
          <li class="category_li"><a href="/data/stats/pig/pops" target="_top">-&nbsp;&nbsp;시도별 사육 동향</a></li>
          <li class="category_li"><a href="/data/stats/pig/age" target="_top">-&nbsp;&nbsp;월령별 사육 동향</a></li>
          <li class="category_li"><a href="/data/stats/pig/grade" target="_top" class="end">-&nbsp;&nbsp;등급판정 통계</a></li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default panel-body_other">
      <div class="panel-heading">
        <h4 class="panel-title">소</h4>
      </div>
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked" id="category_ul">
          <li class="category_li"><a href="/data/stats/cow/pops" target="_top">-&nbsp;&nbsp;시도별 사육 동향</a></li>
          <li class="category_li"><a href="/data/stats/cow/age" target="_top">-&nbsp;&nbsp;연령별 사육 동향</a></li>
          <li class="category_li"><a href="/data/stats/cow/grade" target="_top" class="end">-&nbsp;&nbsp;등급판정 통계</a></li>
        </ul>
      </div>
    </div>

    <div class="panel panel-default panel-body_other">
      <div>
        <h4 class="panel-title">닭</h4>
      </div>
      <div class="panel-body">
        <ul class="nav nav-pills nav-stacked" id="category_ul">
          <li class="category_li"><a href="/data/stats/chicken/pops" target="_top">-&nbsp;&nbsp;시도별 사육 동향</a></li>
          <li class="category_li"><a href="/data/stats/chicken/age" target="_top" class="end">-&nbsp;&nbsp;월령별 사육 동향</a></li>
        </ul>
      </div>
    </div>
  </div>
  {{>banner}}
</template>
