<template name="stats_cow_grade">

  <h4 class="postHeading">
    축우 통계&nbsp;
    <span class="text-muted postsCategory" style="white-space:nowrap;">등급판정 통계</span>
  </h4>

  <div id="loader"></div>
  <div style="display:none;" id="chart-box" class="animate-bottom">

    <div class="row time_div" style="text-align:center;">
      <div class="col-md-2"></div>
      <div class="col-md-4" style="white-space: nowrap; margin-bottom:10px;">
        <span style="font-size:120%;">시작 월 : </span>
        <input type="month" id="datepicker1" style="text-align:center;">
      </div>
      <div class="col-md-4" style="white-space: nowrap;">
        <span style="font-size:120%;">종료 월 : </span>
        <input type="month" id="datepicker2" style="text-align:center;">
      </div>
      <div class="col-md-2"></div>
      <br>
      <br>
    </div>
    <div class="row options_div" style="text-align:center;">
      <input type="radio" name="optradio" id="total" value="total" checked/>
      <label for="total">전체</label>&emsp;&emsp;
      <input type="radio" name="optradio" id="korean" value="korean">
      <label for="korean">한우</label>&emsp;&emsp;
      <input type="radio" name="optradio" id="beef" value="beef">
      <label for="beef">육우</label>&emsp;&emsp;
      <input type="radio" name="optradio" id="dairy" value="dairy">
      <label for="dairy">젖소</label>
    </div>

    <hr style="margin-top:15px; margin-bottom:15px;">

    <p style="margin-left: 5px; text-align:center;">
      <span style="color:steelblue; white-space:nowrap; margin-right:25px;">■ 1+등급</span>
      <span style="color:darkorange; white-space:nowrap; margin-right:25px;">■ 1등급</span>
      <span style="color:forestgreen; white-space:nowrap; margin-right:25px;">■ 2등급</span>
      <span style="color:crimson; white-space:nowrap; margin-right:25px;">■ 등외</span>
    </p>
    <hr style="border-width:2px; border-color:black;">

    <div id="plot_1" style="width:100%;height:auto;"></div>
    <div id="plot_2" style="width:100%;height:auto;"></div>
    <hr style="border-width:2px; border-color:black;">
    <div id="plot_3" style="width:100%;height:auto;"></div>
    <div id="plot_4" style="width:100%;height:auto;"></div>

  </div>

</template>
