
<template name="stats_tabs">

  {{#basicTabs name="" tabs=tabs}}

    {{#tabContent slug="plot1"}}
        <h3>Plot1</h3>
        <div id="plot_1" style="width:100%;height:auto;"></div>
        {{#with pig_farms_by_scale_total.[0]}}
            {{TBL_NM}}, {{PRD_DE}}, {{DT}}
        {{/with}}
        <hr>
        {{pig_farms_by_scale_total.[0].TBL_NM}}
    {{/tabContent}}

    {{#tabContent slug="plot2"}}
        <h3>Plot2</h3>
        <div id="plot_2" style="width:100%;height:auto;"></div>
    {{/tabContent}}

    {{#tabContent slug="plot3"}}
        <h3>Plot3</h3>
        <div id="plot_3" style="width:100%;height:auto;"></div>
    {{/tabContent}}

  {{/basicTabs}}

</template>
