@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

ol, ul, li, form, label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
  margin-top: 70px;
}

.avatar-upload {
  margin-top: 5px;
}

.saveProfileBtn {
  margin-top: 25px;
}

article {
    padding-left: 12px;
    padding-right: 12px;
}

/*footer*/
.site-footer {
    margin-top: 250px;
    margin-bottom: 50px;
}

/*postsCategory*/
.postsCategory {
    font-size: 80%;
}

/*post-date*/
.post-date {
    text-align: left;
    text-indent: 3px;
    margin-bottom: 7px;
}

/*pagination*/
.pager-nav {
    margin-top: 40px;
}

/*favorites*/
.favorites-link {
    color: #00004d;
}

.favorites-container {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    display: inline-block;
}

.favorites-name {
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 18px;
}

/*image posts*/

.image-post-container {
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-color: #e0e0eb;
}

.image-info {
    background-color: rgba(242, 242, 242, 0.6);
    border-bottom: solid 1px #e0e0eb;
    padding-left: 12px;
    padding-top: 14px;
    padding-right: 12px;
    padding-bottom: 0px;
}

.image-title {
    margin-bottom: 5px;
    padding-left: 3px;
    font-family: 'Jeju Gothic', serif;
    font-size: 19px;
    color: #00004d;

}

.image-summary {
    margin-bottom: 3px;
    padding-left: 9px;
    text-indent: 9px;
}

.image-date {
    padding-right: 5px;
    text-align: right;
}

/*copied*/

div.jumbotron#mainTop {
  position: relative;
  background: #000 url("/images/mainBackground2.jpg") center center;
  opacity: 0.85;
  width: 100%;
  height: 200px;
  background-size: cover;
  overflow: hidden;
}

div.jumbotron#mainBottom {
  position: relative;
  background: #000 url("/images/mainBackground1.jpg") center center;
  opacity: 0.85;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 45px;
  padding-left: 5vw;
  padding-right: 10vw;
}

/*MainPage Setting*/

div.indexPanelTitle {
  font-family: 'Jeju Gothic', serif;
}

a.mainList {
  color: SteelBlue;
}

ul.main_ul {
  list-style-position: outside;
  padding-left: 12px;
}

li.main_li {
  font-family: 'Nanum Gothic', serif;
  margin-bottom: 5px;
}

/*News Setting*/

ul.posts_ul {
  list-style-position: outside;
  padding-left: 20px;
}

li.posts_li {
  font-family: 'Nanum Gothic', serif;
  font-size: 1.3em;
  margin-bottom: 15px;
}

.postHeading {
    margin-top: 15px;
    margin-bottom: 20px;
}

.categoryPanel {
    margin-top: 15px;
}

.categoryPanelHeading {
    font-size: 130%;
}

.categoryPanelBody {
    padding-top: 5px;
    padding-bottom: 7px;
}

.category_ul {
    list-style: none;
    font-size: 120%;
}

/*Pages Setting*/

div.page-header {
  margin-bottom: 0px;
}

h3#listHeader {
  margin-top: 0px;
  font-family: 'Jeju Gothic', serif;
}

h4.media-heading {
  font-family: 'Nanum Gothic', serif;
}

a.contentsList {
  color: #585858;
}

/*Navbar Setting*/

li.dropdown {
  font-family: 'Nanum Gothic', serif;
}

ul.dropdown-menu {
  padding-top: 8px;
  padding-bottom: 0px;
}

ul.dropdown-menu li {
  margin-bottom: 10px;
}

/*fancybox*/

a.fancybox-prev span {
  left: -25px;
}

a.fancybox-next span {
  right: -25px;
}
