<template name="case_post">
  <div>
    {{#with post}}
      <article>
        <header>
          <h2>{{title}}</h2>
          <p class="text-muted text-small post-date">{{prettyDate date}}&nbsp;&nbsp;
            <a href="/pigplan/case/1">활용 사례</a>
          </p>
        </header>
        <div>
          {{{content}}}
        </div>
        <div class="share-box">
          <a href="#" target="_blank" class="nv-share">
            <img src="/share_buttons/naver/BAND_32.png" alt="">
          </a>
          <a href="#" target="_blank" class="kk-share">
            <img src="/share_buttons/kakao/pc/story_pc_32x32.png" alt="">
          </a>
          <a href="#" target="_blank" class="btn btn-social-icon btn-facebook fb-share">
            <span class="fa fa-facebook"></span>
          </a>
        </div>
      </article>
    {{/with}}
  </div>
</template>
