<template name="case_admin">
    <div class="col-sm-6">
        {{#autoForm id="Form" type=formType collection="Case" doc=selectedDoc}}
            <input type="hidden" id="postId">
            <input type="hidden" id="imageId">
            {{> afQuickField name="date" id="date"}}
            {{> afQuickField name="title" id="title"}}
            {{> afQuickField name="summary" id="summary"}}
            {{> afQuickField name="content" id="content"}}
            {{> afQuickField name="image" type="cfs-file" collection="Images" id="image"}}
            {{#with FS.GetFile "Images" selectedImage }}
                <img src="{{this.url store='images'}}" alt="" width="300px">
            {{/with}}
            <br><br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                <button type="button" class="btn btn-danger remove-btn">Remove</button>
                <button type="reset" class="btn btn-warning reset-btn">Reset</button>
            </div>
        {{/autoForm}}
    </div>
    <div class="col-sm-6">
        {{>reactiveTable settings=tableSetting}}
    </div>
</template>
