<template name="pigplan_feature">
    <div class="pigplan_headline">
        <h4>피그플랜 관리영역</h4></div>
    <img class="" src="/images_pigplan/pig02.png" alt="" width="100%" style="margin-top:10px; margin-bottom: 15px;">
    <div style="padding-left: 10px; line-height: 180%;">
        <p><b>1.기초정보관리 :</b> 농장정보 및 프로그램을 사용하기 위한 내 농장의 주요 설정값들을 관리합니다. 기본적인 설정값들은 이미 등록이 되어 있습니다. 따라서 농장 특성상 추가해야 할 값들이나 기존 설정값을 수정하고 싶을 때 이용합니다</p>
        <p><b>2.번식돈관리 :</b> 농장의 모돈과 웅돈의 전입에서 도태까지의 모든 과정을 관리하며 다양한 보고서를 통해 농장의 생산성을 분석합니다.</p>
        <p><b>3.자돈관리 :</b> 모돈처럼 개체관리가 어려운 이유자돈을 그룹형태로 관리합니다. 그룹의 생성에서 도폐사 및 자돈출하 후 종료까지 일련의 작업을 관리하며 자돈성적을 분석합니다.적정 일령은 이유가 끝난 시점부터 70일령 까지 입니다.</p>
        <p><b>4.육성돈관리 :</b> 개체관리가 어려운 육성돈을 그룹형태로 관리합니다. 그룹의 생성에서 도폐사 및 출하 후 종료까지 일련의 작업을 관리하며 육성돈성적을 분석합니다. 적정 일령은 70일령부터 출하때 까지 입니다.</p>
        <p><b>5.검정돈관리 :</b> 분만자돈의 명호등록에서부터 혈통등록과 검정기록을 관리하며 전문기관에서 받은 육종가분석 파일을 업로드하여육종가관련 분석보고서를 출력합니다</p>
        <p><b>6.경영관리 :</b> 월단위로 생산성적 및 사료, 출하 기타 거래내역을 관리하고 내 농장의 경영상태를 분석합니다.여기서 관리된 경영자료를 통해 농장간 비교를 할 수 있습니다.</p>
        <p><b>7.계열농장관리 :</b> 3-Site 및 2-Site 농장에 적합한 모델이며 번식농장에서 자돈농장, 자돈농장에서 육성농장까지 추적이 가능합니다.</p>
        <p><b>8.판매분양관리 :</b> 거래처관리에서부터 종돈의 판매업무 및 미수금 상환처리까지 관리되며 거래처별 지역별로 판매현황을 분석합니다.</p>
        <p><b>9.AI센터관리 :</b> 정액의 채취업무에서부터 판매업무까지 관리되며 거래처별 지역별 판매현황 분석이 가능합니다.</p>
        <p><b>10.HACCP관리 :</b> 가축의 도입부터 출하까지의 각 생산단계에서 발생할 수 있는 중점요소를 집중적으로 관리합니다. 자가진단 및 인증에 필요한 보고서를 출력합니다.</p>
    </div>
    <hr>

    <div class="pigplan_headline" style="margin-top: 30px; margin-bottom: 20px;">
        <h3>장점</h3></div>
    <div style="padding-left: 10px; line-height: 180%;">
        <p style="font-size:16px; font-weight:bold;">1.인터넷 환경의 시스템
        </p>
        <div style="padding-left: 7px;">
            <p><b> 인터넷을 통한 자유로운 입/출력(장소의 제약이 없음)</b>
                <br/> - 프로그램을 따로 설치할 필요가 없음(ActiveX 컨트롤 자동설치)
                <br/> - 인터넷이 연결된 곳이면 인증(아이디, 비밀번호)을 통해 접속가능
                <br/> - 장소에 관계없이 작업입력 및 보고서 출력이 어디서나 가능</p>
            <p><b> 개인 PC와는 독립된 안정적인 서버관리</b>
                <br/> - 개인PC에 들어 있었던 데이터를 모두 통합 DB서버에서 관리
                <br/> - 안정된 데이터베이스(오라클)와 1일 백업처리로 데이터 소실의 위험 없음
                <br/> - 개인 컴퓨터가 고장이나 바이러스에 걸려도 시스템에는 전혀 영향이 없음</p>
        </div>
        <p style="font-size:16px; font-weight:bold;">2.보안을 고려한 권한관리
        </p>
        <div style="padding-left: 7px;">
            <p> - 개인농장의 데이터는 다른 농장에서 볼 수 없음(보안철저)</p>
        </div>
        <p style="font-size:16px; font-weight:bold;">3.업체 프로그램으로 새 단장
        </p>
        <div style="padding-left: 7px;">
            <p> - 로그인 화면 별도 사용 가능(업체 도메인으로 사용)
                <br/> - 모든 이미지를 업체로고로 변경 가능</p>
        </div>
        <p style="font-size:16px; font-weight:bold;">4.편리한 입력방식
        </p>
        <div style="padding-left: 7px;">
            <p><b>  개별입력방식</b>
                <br/> - 기존 CS프로그램과 유사한 편리한 입력방식
                <br/> - 입력화면과 조회리스트의 한화면 처리(웹 프로그램의 단점인 입력과 조회화면의 분리를 극복)
                <br/> - 작업입력은 모돈 선택 후 입력을 바로 할 수 있음
                <br/> - Enter를 치면 바로 다음 입력칸으로 포커스 이동
                <br/> - 데이터가 저장되면 하단에 저장된 리스트가 바로 보여지며 다음 데이터를 입력할 수 있도록 모돈 번호로 포커스 이동</p>
            <p><b>  일괄입력방식</b>
                <br/> - 입력/확인 버튼으로 여러 건을 입력
                <br/> - 한 번의 저장버튼 클릭으로 일괄저장</p>
        </div>
        <p style="font-size:16px; font-weight:bold;">5.보고서 기능의 강화
        </p>
        <div style="padding-left: 7px;">
            <p><b> 조회조건으로부터의 해방</b>
                <br/> - 피그챔프, 돈컴, 피그윈등 국내외 양돈 전산관리 프로그램 벤치마킹 후 구현
                <br/> - 산출공식의 국제 표준 준수 구현
                <br/> - 산출기간의 자유로운 설정
                <br/> - 일/주/월/년의 보고 싶은 단위 선택, 계절별 분석 가능
                <br/> - 기간수 선택을 통한 보고 싶은 범위선택(12개의 고정형에서 탈피)
                <br/> - 산차별, 품종별, 및 장소별 성적분석
                <br/> - 155가지 생산성적 지표를 통한 주요성적을 분석</p>
            <p><b> 고급 보고서 툴(리포트디자이너) 사용</b>
                <br/> - 모든 보고서는 파일로 저장이 가능(엑셀, 한글, 파워포인트, 워드, PDF 변환 가능)
                <br/> - 표형태의 보고서에 그래프를 추가하여 성적의 추이를 한눈에 볼 수 있음
                <br/> - 그래프를 마음대로 형태를 변환할 수 있음</p>
        </div>
    </div>
    <hr>

    <div class="pigplan_headline" style="margin-top: 30px; margin-bottom: 20px;">
        <h3>사용절차</h3></div>
    <img class="" src="/images_pigplan/pig03.png" alt="" width="100%">


</template>
