<template name="pigplan_category">
    <div class="panel panel-default categoryPanel">
        <div class="panel-heading categoryPanelHeading">&nbsp;&nbsp;피그플랜 소개</div>
        <div class="panel-body categoryPanelBody">
            <ul class="nav nav-pills nav-stacked category_ul">
                <li class="category_li"><a href="/pigplan/intro" target="_top"><i class="fa fa-check" aria-hidden="true">&nbsp;&nbsp;개요</i></a></li>
                <li class="category_li"><a href="/pigplan/feature" target="_top"><i class="fa fa-plus" aria-hidden="true">&nbsp;&nbsp;주요 기능</i></a></li>
                <li class="category_li"><a href="/pigplan/case/1" target="_top"><i class="fa fa-thumbs-o-up" aria-hidden="true">&nbsp;&nbsp;활용 사례</i></a></li>
            </ul>
        </div>
    </div>
</template>
