<template name="pigplan_intro">
    <div class="pigplan_headline">
        <h3>피그플랜 개요</h3></div>
    <p class="pigplan_paragraph">피그플랜은 양돈장의 번식돈, 자돈, 육성돈을 관리하고, 방역관리를 통해 농장의 사양관리와 질병관리를 지원하며, 농장의 번식성적과 함께 사료업체, 도축장등 타업체와 연계를 통한 사료거래내역 및 출하내역을 이용 개별농장의 전반적인 경영상태를 분석 비교하여 해당 농가의 경영개선을 지원하고 있는 이미 다양한 현장에서 사용되어 검증을 마친 양돈생산 경영관리지원 통합시스템 입니다.</p>

    <p class="pigplan_paragraph">종돈장의 경우 검정돈 및 판매분양관리가 추가되며 종돈 자신의 성적 뿐만 아니라, 가계도를 바탕으로 선대부돈 및 선대모돈의 추적은 물론 후대 자손들의 성적을 추적하는 것이 가능하며, 일반농장용피그플랜과 연계되어 후대 자손의 성적 추적을 통한 종돈장 및 AI센터의 종돈개량 및 크레임관리가 가능하고 유관 시스템과 연계 기능을 통해 한국종축개량협회와 자돈등기업무, 육종가분석기관과 연계한 유전력 평가 분석업무를 보다 효율적으로 처리 및 관리하는 시스템
        입니다.</p>

    <img class="" src="/images_pigplan/pig01.jpg" alt="" width="100%" style="margin-bottom: 15px;">

    <br>
    <div class="pigplan_headline" style="margin-bottom: 20px;">
        <h3>피그플랜 역사</h3></div>
    <p style="font-size:18px; font-weight:bold; margin-bottom: 15px;">전국 960여 농가(모돈규모 36만두)사용중
    </p>
    <div class="pigplan_tab">
        <ul class="nav nav-tabs">
            <li><a href="#1995" data-toggle="tab">1995~2005</a></li>
            <li class="active"><a href="#2006" data-toggle="tab">2006~현재</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in" id="1995">
                <!-- <h4 style="margin:15px; border-bottom:1px #eaeaea dotted; width:95%; font-size:15px; line-height:50px">1995년~2005년</h4> -->
                <p class="pigplan_tab_paragraph" style="margin:15px;">
                    - 2005년 피그플랜 웹 서비스 개시 (양돈조합, 사료업체, 컨설팅, 농가등)
                    <br/> - 2005년 부경양돈 통합정보시스템 구축완료
                    <br/> - 2005년 피그플랜 PC 버젼 보급 (양돈조합, 사료업체, 컨설팅, 농가등)
                    <br/> - 1999년 도드람 양돈조합 제휴 도드람 플랜 개발
                    <br/> - 1998년 (주)이지팜 피그플랜 초기 보젼 개발
                    <br/> - 1995년 서울대학교 농업정보체계실 피그플랜 개발</p>
            </div>
            <div class="tab-pane fade in active" id="2006">
                <div style="margin-top:0px; padding: 20px 10px 0px 20px; border-bottom:1px #eaeaea dotted; width:95%; font-size:15px; line-height:200%">
                    <p><span style="color: #0086b3;">현재 진행중인 사업 :</span>
                    <br/> ICT융복합 장비개발 및 보급사업, 피그플랜 스바트 웹 서비스, ICT융복합형 모돈자동급이기, 돈선별기 개발보급, 통합제어 프로그램개발</p>
                </div>
                <p class="pigplan_tab_paragraph" style="margin:15px;">
                    - 2011년~현재 : 양돈연구사업수행(농진청, 농기평, KREI 등)
                    <br/> - 2012년~2013년 양돈농가 생산성 향상 컨설팅 사업 수행
                    <br/> - 2011년~2013년 한돈협회 양돈전산성적 자료제공
                    <br/> - 2000년 장수 u-IT 친환경 양돈사양관리 시스템 구축 (ICT융복합사업)
                    <br/> - 2010년 피그플랜 계열사업관리 기능보완(팜스코 적용)
                    <br/> - 2008년 경남 u-포크 균일돈성장관리 시스템 구축 (ICT융복합사업)
                    <br/> - 2007년 진천군 u-포크 안전안심 시스템 구축 (ICT융복합사업)
                    <br/> - 2006년 농협중앙회 종돈사업소 종돈장관리 시스템 개발 완료</p>
            </div>
        </div>
    </div>
</template>
