<template name="news_admin">
    <div class="col-sm-6">
        {{#autoForm id="NewsForm" type="insert" collection="News"}}
            <input type="hidden" id="postId">
            {{> afQuickField name="date" id="date"}}
            {{> afQuickField name="title" id="title"}}
            {{> afQuickField name="url" id="url"}}
            {{> afQuickField name="category" id="category"}}
        <div class="form-group">
            <button type="submit" class="btn btn-primary addPost">Add Post</button>
            <button type="button" class="btn btn-danger removePost">Remove</button>
            <button type="reset" class="btn btn-warning">Reset</button>
            <button type="button" class="btn btn-default return">Return</button>
        </div>
        {{/autoForm}}
    </div>
    <div class="col-sm-6">
        {{>reactiveTable settings=tableSetting}}
    </div>
</template>
