<template name="news">
    <h1 class="postHeading"><i class="fa fa-newspaper-o"></i>&nbsp; 양돈 뉴스 ({{postsCategory}})</h1>
    <div>
        <ul class="posts_ul">
        {{#each postsList}}
            <li class="posts_li">
                <a href="{{url}}" class="posts_link" target="_blank">{{title}}</a>&nbsp;&nbsp;
                <span style="font-size: 80%">{{prettyDate date}}</span>
            </li>
        {{/each}}
        </ul>
        <!-- {{> pages}}
        {{> pagesNav}} -->
    </div>
</template>
