<template name="news_category">
    <h1>News Category</h1>
    <div class="row">
        <div class="col-md-12 hidden-sm hidden-xs">
            <ul class="news_ul list-unstyled side-nav tree" id="tree1">
            <!-- {{#each categories}} -->
                <li class="news_li"><a href="/news/A">A</a></li>
                <li class="news_li"><a href="/news/B">B</a></li>
                <li class="news_li"><a href="/news/C">C</a></li>
            <!-- {{/each}} -->
            </ul>
        </div>
    </div>
</template>
