<template name="news">
    {{#if newsCategory}}
    <h1 class="postHeading"><i class="fa fa-newspaper-o"></i>&nbsp; {{newsCategory}}</h1>
    {{else}}
    <h1 class="postHeading"><i class="fa fa-newspaper-o"></i>&nbsp; 양돈 뉴스</h1>
    {{/if}}
    <div>
        <ul class="news_ul">
        {{#each newsList}}
            <li class="news_li">
                <a href="{{url}}" class="news_link" target="_blank">{{title}}</a>&nbsp;&nbsp;
                <span style="font-size: 80%">{{prettyDate date}}</span>
            </li>
        {{/each}}
        </ul>
        {{> paginationBar itemsPerPage=3 window=5 count='total_posts'}}
    </div>
</template>
