<template name="favorites_category">
    <div class="panel panel-default categoryPanel">
        <div class="panel-heading categoryPanelHeading">&nbsp;&nbsp;&nbsp;카테고리</div>
        <div class="panel-body categoryPanelBody">
            <ul class="nav nav-pills nav-stacked category_ul">
                <li class="category_li"><a href="/favorites">전체</a></li>
                <li class="category_li"><a href="/favorites/A"><i class="fa fa-angle-double-right" aria-hidden="true">&nbsp;&nbsp;A</i></a></li>
                <li class="category_li"><a href="/favorites/B"><i class="fa fa-angle-double-right" aria-hidden="true">&nbsp;&nbsp;B</i></a></li>
                <li class="category_li"><a href="/favorites/C"><i class="fa fa-angle-double-right" aria-hidden="true">&nbsp;&nbsp;C</i></a></li>
            </ul>
        </div>
    </div>
</template>
