<template name="signin">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form class="signin-form">
        <div class="panel panel-info" style="border-color: gray;">
          <div class="panel-heading" id="main-panel-heading">
            <h3 class="plain huge" style="text-align: center;">피그포털 관리자 로그인</h3>
          </div>
          <div class="panel-body">
            <div class="form-group col-lg-12">
              <label class="plain">Email</label>
              <input type="text" class="form-control plain" id="email">
            </div>
            <div class="form-group col-lg-12">
              <label class="plain">Password</label>
              <input type="password" class="form-control plain" id="password">
            </div>
          </div>
          <div class="panel-footer" style="padding-right: 35px; text-align: right;">
            <button type="submit" class="btn btn-primary plain">로그인</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
