<template name="card_news_admin">
    <div class="col-sm-6">
        {{#autoForm id="Form" type=formType collection="CardNews" doc=selectedDoc}}
            <input type="hidden" id="postId">
            <input type="hidden" id="imageIds">
            {{> afQuickField name="date" id="date"}}
            {{> afQuickField name="title" id="title"}}
            {{> afQuickField name="summary" id="summary"}}
            <!-- {{> afQuickField name="images" id="images"}} -->
            {{> afQuickField name="images" type="cfs-files" collection="Images" id="images"}}
            {{#each selectedImages}}
                {{#with FS.GetFile "Images" this}}
                    <img src="{{this.url store='images'}}" alt="" width="300px">
                {{/with}}
            {{/each}}
            {{> afQuickField name="category" id="category"}}
            <div class="form-group">
                <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                <button type="button" class="btn btn-danger remove-btn">Remove</button>
                <button type="reset" class="btn btn-warning reset-btn">Reset</button>
            </div>
        {{/autoForm}}
        <!-- {{>quickForm collection="CardNews" type="insert"}} -->

    </div>
    <div class="col-sm-6">
        {{>reactiveTable settings=tableSetting}}
    </div>
</template>
