<template name="card_news_category">
    <div class="panel panel-default" id="categoryPanel">
        <div class="panel-heading" id="categoryPanelHeading">&nbsp;&nbsp;&nbsp;카테고리</div>
        <div class="panel-body" id="categoryPanelBody">
            <ul class="nav nav-pills nav-stacked" id="category_ul">
                <li class="category_li"><a href="/cardnews/total/1" target="_top">전체</a></li>
                <li class="category_li"><a href="/cardnews/a/1" target="_top"><i class="fa fa-angle-double-right" aria-hidden="true">&nbsp;&nbsp;a</i></a></li>
                <li class="category_li"><a href="/cardnews/b/1" target="_top"><i class="fa fa-angle-double-right" aria-hidden="true">&nbsp;&nbsp;b</i></a></li>
                <li class="category_li"><a href="/cardnews/c/1" target="_top"><i class="fa fa-angle-double-right" aria-hidden="true">&nbsp;&nbsp;c</i></a></li>
            </ul>
        </div>
    </div>
</template>
