<template name="card_news_category">
  <div class="panel panel-default" id="categoryPanel">
    <div class="panel-heading" id="categoryPanelHeading">&nbsp;&nbsp;&nbsp;카테고리</div>
    <div class="panel-body" id="categoryPanelBody">
      <ul class="nav nav-pills nav-stacked" id="category_ul">
        <li class="category_li all"><a href="/cardnews/total/1" target="_top">전체</a></li>
        <li class="category_li"><a href="/cardnews/a/1" target="_top">-&nbsp;&nbsp;a</a></li>
        <li class="category_li"><a href="/cardnews/b/1" target="_top">-&nbsp;&nbsp;b</a></li>
        <li class="category_li"><a href="/cardnews/c/1" target="_top" class="end">-&nbsp;&nbsp;c</a></li>
      </ul>
    </div>
  </div>
  {{>banner}}
</template>
