<template name="card_news">
  <h4 class="postHeading">
    카드 뉴스
  </h4>
  {{#each postsList}}
    <div class="image-post-container">
      <!-- image info -->
      <div class="row">
        <div class="col-md-12">
          <div class="image-info">
            <div class="image-title">
              <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> {{title}}
            </div>
            <div class="image-summary">
              {{summary}}
            </div>
            <div class="image-date">
              <p class="text-muted">{{prettyDate date}}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- the image -->
      <div class="row">
        <div class="col-md-12">
          {{#each images}}
            {{#with FS.GetFile "Images" this}}
              <a href="{{this.url store='images'}}" class="fancybox" rel="gallery{{../../_id}}" title="{{../../title}}, {{../../summary}}">
                <img src="{{this.url store='images'}}" alt="" height="120px">
              </a>
            {{/with}}
          {{/each}}
        </div>
      </div>
    </div>
  {{/each}}

  <nav class="pager-nav">
    <ul class="pager">
      <li class="{{prevPageClass}}">
        <a id="prevPage" href="{{prevPage}}">
          <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> &nbsp;이전
        </a>
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <li class="{{nextPageClass}}">
        <a id="nextPage" href="{{nextPage}}">
                    다음&nbsp;
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
      </li>
    </ul>
  </nav>
</template>
