<template name="card_news">

  <h4 class="postHeading">
    카드 뉴스
  </h4>

  <div class="row">
    <div class="grid">
      {{#each postsList}}
        <div class="card grid-item">
          {{#each images}}
            {{#with FS.GetFile "Images" this}}
              <a href="{{this.url store='images'}}" rel="{{../../_id}}" title="{{../../title}}, {{../../summary}}" class="fancybox card-img-top">
                <img src="{{this.url store='images'}}" width=270 height=90 style="object-fit: cover;">
              </a>
            {{/with}}
          {{/each}}
          <div class="card-block">
            <h4 class="card-title">{{title}}</h4>
            <p class="card-text">{{summary}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="row">
    <nav class="pager-nav">
      <ul class="pager">
        <li class="{{prevPageClass}}">
          <a id="prevPage" href="{{prevPage}}">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> &nbsp;이전
          </a>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <li class="{{nextPageClass}}">
          <a id="nextPage" href="{{nextPage}}">
            다음&nbsp;
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </a>
        </li>
      </ul>
    </nav>
  </div>
</template>
