<template name="main">
  <div class="row">
    <!-- 메인페이지 좌측 칼럼 -->
    <div class="col-sm-8 post_left">
      <h5 class="sec_title">주간 생산 지표
        <span>
          <a href="/data/product">
            <img src="/images_main/more.gif" alt="더보기" />
          </a>
        </span>
      </h5>
      {{> product_main}}
      <hr style="border-width:2px; border-color:#49708d; margin-bottom: 10px;">
      <h5 class="sec_title">최신 외부 기사
        <span>
          <a href="/news/total/1">
            <img src="/images_main/more.gif" alt="더보기" />
          </a>
        </span>
      </h5>
      <ul style="list-style-type:none;">
        {{#each mainNews}}
          <li style="padding: 5px 15px 5px 15px; margin-bottom:5px; background-color:#EDF5FB;">
            <a href="{{url}}" target="_blank" class="underline-none hover-color">
              <p style="color:#2F4F4F; font-size:130%; margin-bottom:0;">{{title}}</p>
            </a>
            <p style="color: #a4a4a4; margin-bottom:0;">{{prettyDate date}}</p>
          </li>
        {{/each}}
      </ul>
      <hr style="border-width: 2px; border-color: #49708d; margin-bottom: 2px;">
    </div>
    <!-- 메인페이지 우측 칼럼 -->
    <div class="col-sm-4 post_right">
      <!-- 최신 양돈 일정 -->
      <h5 class="sec_title">최신 양돈일정
        <span>
          <a href="/events">
            <img src="/images_main/more.gif" alt="더보기" />
          </a>
        </span>
      </h5>
      <div class="list-group">
        {{#each mainEvents}}
          <div class="list-group-item" style="padding-top:2px; padding-bottom:2px;">
            <h6 style="margin-bottom:2px;">{{title}}</h6>
            <p class="text-muted" style="margin-bottom:5px; color: #728FA7">{{start}}
              {{#if end}}... {{end}} {{/if}}
            </p>
          </div>
        {{/each}}
      </div>
      <hr style="border-width:2px; border-color: #49708d; margin-bottom: 2px;">
      <!-- 배너 -->
      {{>banner}}
      <hr style="border-width: 2px; border-color: #49708d; margin-bottom: 2px;">
      <!-- 기업 소식 -->
      <h5 class="sec_title">최신 기업소식
        <span>
          <a href="/corps/1">
            <img src="/images_main/more.gif" alt="더보기" />
          </a>
        </span>
      </h5>
      {{#each mainCorps}}
        <a href="/corps_post/{{_id}}" class="underline-none">
          <div class="card">
            <div class="post_img">
              {{#with FS.GetFile "Images" image}}
                <img src="{{this.url store='images'}}" alt="" class="card-img-top hover-opacity" style="width:100%; height:240px; object-fit: cover;">
              {{/with}}
              <h4 class="card-title">{{title}}</h4>
            </div>
            <div class="card-block">
              <p class="card-text underline-none" style="color:#2F4F4F">{{summary}}</p>
            </div>
          </div>
        </a>
      {{/each}}
      <hr style="border-width: 2px; border-color: #49708d; margin-bottom: 2px;">
      <!-- 피그플랜 활용사례 -->
      <h5 class="sec_title">피그플랜 활용사례
        <span>
          <a href="/pigplan/case/1">
            <img src="/images_main/more.gif" alt="더보기" />
          </a>
        </span>
      </h5>
      {{#each mainCase}}
        <a href="/case_post/{{_id}}" class="underline-none">
          <div class="card">
            <div class="post_img">
              {{#with FS.GetFile "Images" image}}
                <img src="{{this.url store='images'}}" alt="" class="card-img-top hover-opacity" style="width:100%; height:240px; object-fit: cover;">
              {{/with}}
              <h4 class="card-title">{{title}}</h4>
            </div>
            <div class="card-block">
              <p class="card-text underline-none" style="color:#2F4F4F">{{summary}}</p>
            </div>
          </div>
        </a>
      {{/each}}
    </div>
  </div>
</template>
