<template name="price_ticker">

  <style media="screen">
    table {
      
    }
    th, td {
      min-width: 110px;
      text-align: center;
    }
  </style>

  {{#each female_Y}}
    <table class="table table-condensed mySlides">
      <h6 class="text-center">{{gradeNm}} 등급, {{judgeSexNm}}, {{skinNm}}</h6>
      <thead>
        <tr>
          <th>작업장</th>
          <th>가격</th>
          <th>물량</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>부경축공</td>
          <td>{{c_0202Amt}}</td>
          <td>{{c_0202Cnt}}</td>
        </tr>
        <tr>
          <td>협신식품</td>
          <td>{{c_0302Amt}}</td>
          <td>{{c_0302Cnt}}</td>
        </tr>
        <tr>
          <td>도드람</td>
          <td>{{c_0320Amt}}</td>
          <td>{{c_0320Amt}}</td>
        </tr>
        <tr>
          <td>농협부천</td>
          <td>{{c_0323Amt}}</td>
          <td>{{c_0323Cnt}}</td>
        </tr>
        <tr>
          <td>농협음성</td>
          <td>{{c_0513Amt}}</td>
          <td>{{c_0513Cnt}}</td>
        </tr>
        <tr>
          <td>익산</td>
          <td>{{c_0714Amt}}</td>
          <td>{{c_0714Cnt}}</td>
        </tr>
        <tr>
          <td>나주농협</td>
          <td>{{c_0809Amt}}</td>
          <td>{{c_0809Cnt}}</td>
        </tr>
        <tr>
          <td>농협고령</td>
          <td>{{c_0905Amt}}</td>
          <td>{{c_0905Cnt}}</td>
        </tr>
        <tr>
          <td>김해축공</td>
          <td>{{c_1005Amt}}</td>
          <td>{{c_1005Cnt}}</td>
        </tr>
        <tr>
          <td>제주축협</td>
          <td>{{c_1101Amt}}</td>
          <td>{{c_1101Cnt}}</td>
        </tr>
        <tr>
          <td>신흥산업</td>
          <td>{{c_1201Amt}}</td>
          <td>{{c_1201Cnt}}</td>
        </tr>
        <tr>
          <td>삼성식품</td>
          <td>{{c_1301Amt}}</td>
          <td>{{c_1301Cnt}}</td>
        </tr>
        <tr>
          <td>삼호축산</td>
          <td>{{c_1401Amt}}</td>
          <td>{{c_1401Cnt}}</td>
        </tr>
      </tbody>
    </table>
  {{/each}}

</template>
