<template name="comments_table">
  <style media="screen">
    table {
      text-align: center;
    }
    th {
      display: none;
    }
    td.createdAt {
      width: 20%;
    }
    td.author {
      width: 20%;
    }
    td.content {
      width: 60%;
    }
  </style>

  {{>reactiveTable settings=tableSetting}}

  <p class="text-success" style="font-size:110%;">코멘트를 남겨주세요.</p>

  {{#if equals formType 'insert'}}
    {{#unless askPass}}
      {{#autoForm id="Form" type=formType collection="Comments" doc=selectedDoc resetOnSuccess=false}}
        <div class="form-group">

          {{> afQuickField name="author" id="author"}} {{> afQuickField name="pass" id="pass"}} {{> afQuickField name="content" id="content"}}

          <span hidden>
            {{> afQuickField name="createdAt" id="createdAt"}}
            {{> afQuickField name="category" id="category" value="table"}}
          </span>

          <button type="submit" class="btn btn-primary submit-btn">코멘트 저장</button>&nbsp;&nbsp;
          <button type="reset" class="btn btn-default" id="insert-reset">양식 비우기</button>

        </div>
      {{/autoForm}}
    {{/unless}}
  {{/if}}

  {{#if askPass}}
    {{#autoForm id="Form" type=formType collection="Comments" doc=selectedDoc}}
      <div class="form-group">
        {{> afQuickField name="author" id="author" readonly=true}}
        <span hidden>
          {{> afQuickField name="pass" id="pass-test"}}
        </span>

        <label for="input-pass">비밀번호 (4자리 숫자)</label>
        <input type="text" name="input-pass" id="input-pass">
        <button type="submit" class="btn btn-primary submit-btn" id="pass-submit">비밀번호 입력</button>&nbsp;&nbsp;
        <button type="reset" class="btn btn-default cancel">취소</button>
        <br>
        <span id="pass-not-match" style="color: orange;"></span>
      </div>
    {{/autoForm}}
  {{/if}}

  {{#if equals formType 'update'}}
    {{#unless askPass}}
      {{#autoForm id="Form" type=formType collection="Comments" doc=selectedDoc}}
        <div class="form-group">

          {{> afQuickField name="author" id="author"}} {{> afQuickField name="pass" id="pass"}} {{> afQuickField name="content" id="content"}}

          <span hidden>
            {{> afQuickField name="createdAt" id="createdAt"}}
            {{> afQuickField name="category" id="category" value="table"}}
          </span>

          <button type="submit" class="btn btn-primary submit-btn">수정</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-danger remove-btn">삭제</button>&nbsp;&nbsp;
          <button type="reset" class="btn btn-default cancel">돌아가기</button>

        </div>
      {{/autoForm}}
    {{/unless}}
  {{/if}}

</template>
