<template name="corps_post">
    <div>
        {{#with post}}
        <article>
            <header>
                <h1>{{title}}</h1>
                <p class="text-muted text-small post-date">{{prettyDate date}}&nbsp;&nbsp;
                    <a href="/corps/1">기업소식</a>
                </p>
            </header>
            <div>
                {{{content}}}
            </div>
            <div class="share-box">
                <a href="" target="_blank">
                    <img src="/share_buttons/naver/BAND_32.png" alt="">
                </a>
                <a href="#" target="_blank" alt="Share on kakaostory" class="kk-share">
                    <img src="/share_buttons/kakao/pc/story_pc_32x32.png" alt="">
                </a>
                <a href="#" target="_blank" class="btn btn-social-icon btn-facebook fb-share">
                    <span class="fa fa-facebook"></span>
                </a>
                <!-- {{> shareit}} -->
            </div>
        </article>
        {{/with}}
    </div>
</template>
