<template name="corps_post">
    <div>
        {{#with post}}
        <article>
            <header>
                <h1>{{title}}</h1>
                <p class="text-muted text-small post-date">{{prettyDate date}}&nbsp;&nbsp;
                    <a href="/corps/1">기업소식</a>
                </p>
            </header>
            <div>
                {{{content}}}
            </div>
            <div class="share-box">
                <div class="nv-kk-share">
                    <a href="https://story.kakao.com/share?url=URL" target="_blank">
                        <img src="/share_buttons/naver/BAND_24.png" alt="" class="nv-share">
                    </a>
                    <img src="/share_buttons/kakao/pc/story_pc_24x24.png" alt="" class="kk-share">
                </div>
                {{> shareit}}
            </div>
        </article>
        {{/with}}
    </div>
</template>
