<template name="infographic_category">
    <div class="panel panel-default" id="categoryPanel">
        <div class="panel-heading" id="categoryPanelHeading">&nbsp;&nbsp;&nbsp;카테고리</div>
        <div class="panel-body" id="categoryPanelBody">
            <ul class="nav nav-pills nav-stacked" id="category_ul">
                <li class="category_li"><a href="/infographic/total/1" target="_top">전체</a></li>
                <li class="category_li"><a href="/infographic/인포1/1" target="_top"><i class="fa fa-angle-double-right" aria-hidden="true">&nbsp;&nbsp;인포1</i></a></li>
                <li class="category_li"><a href="/infographic/인포2/1" target="_top"><i class="fa fa-angle-double-right" aria-hidden="true">&nbsp;&nbsp;인포2</i></a></li>
                <li class="category_li"><a href="/infographic/인포3/1" target="_top"><i class="fa fa-angle-double-right" aria-hidden="true">&nbsp;&nbsp;인포3</i></a></li>
            </ul>
        </div>
    </div>
</template>
