<template name="test">
  <style media="screen">
    table, th, td {
      text-align: center;
    }
  </style>


  {{> loginButtons}}
  {{username}}
  {{curruntUser.username}}

  {{#autoForm id="commentsForm" type="insert" collection="Comments"}}
    <div class="form-group">
      <span>{{> afQuickField name="author" id="author" readonly=ture value="{{username}}"}}</span>
      <span>
        {{> afQuickField name="content" id="content"}}
      </span>

      <span hidden>
        {{> afQuickField name="category" id="category" value="annually"}}
      </span>
      <button type="submit" class="btn btn-primary submit-btn">저장</button>
    </div>
  {{/autoForm}}

  {{>reactiveTable settings=tableSetting}}

</template>
