<template name="header_admin">
    <nav role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/admin" class="navbar-brand bigger" target="_top">관리자 홈</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 관리 메뉴 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="menu"><a href="/admin/news" target="_top">뉴스</a></li>
                            <li class="menu"><a href="/admin/events" target="_top">양돈 일정</a></li>
                            <li class="menu"><a href="/admin/favorites" target="_top">관련 사이트</a></li>
                            <li class="menu"><a href="/admin/pigplan/case">활용 사례</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-right plain">
                    <button id="signout" class="btn btn-primary navbar-btn">&nbsp;Sign Out</button>
                </div>
            </div>
        </div>
    </nav>
</template>
